# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [30]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Import API key
#from api_keys import g_key
gkey = "AIzaSyAvaKaxnhrSr_DC964A97rdTaGr_MtcLjA"
target_city = "Atlanta"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [52]:
cities = pd.read_csv("Weather_Information.csv")
cities = pd.DataFrame(cities)
cities.head()

,Unnamed: 0,Latitude,Longitude,City Name,ID,Max Temp,Humidity,Cloudiness,Speed,Date
0,0,-24.0000,21.7500,Hukuntsi,933726,56.68,59,1,12.19,1635050239
1,1,-0.6000,73.0833,Hithadhoo,1282256,83.12,73,88,13.76,1635049918
2,2,-21.2000,-175.2000,Vaini,4032243,77.16,73,20,9.22,1635050156
3,3,-22.6667,167.4833,Vao,2137773,72.23,75,12,14.58,1635050239
4,4,-46.1927,168.8643,Mataura,6201424,56.03,87,99,3.89,1635050053

In [53]:
# url = "https://maps.googleapis.com/maps/api/geocode/json?address={Atlanta}&key={AIzaSyAvaKaxnhrSr_DC964A97rdTaGr_MtcLjA}"
# url_w = f"https://maps.googleapis.com/maps/api/geocode/json?address={target_city}&key={gkey}"
# print(url_w)
url = "https://maps.googleapis.com/maps/api/geocode/json?address="+target_city+"&key="+gkey+""
print(url)
vacation_map = requests.get(url)
maps = vacation_map.json()
maps

https://maps.googleapis.com/maps/api/geocode/json?address=Atlanta&key=AIzaSyAvaKaxnhrSr_DC964A97rdTaGr_MtcLjA

{'results': [{'address_components': [{'long_name': 'Atlanta',
     'short_name': 'Atlanta',
     'types': ['locality', 'political']},
    {'long_name': 'Fulton County',
     'short_name': 'Fulton County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Georgia',
     'short_name': 'GA',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']}],
   'formatted_address': 'Atlanta, GA, USA',
   'geometry': {'bounds': {'northeast': {'lat': 33.8876179, 'lng': -84.289389},
     'southwest': {'lat': 33.6478079, 'lng': -84.5518189}},
    'location': {'lat': 33.7489954, 'lng': -84.3879824},
    'location_type': 'APPROXIMATE',
    'viewport': {'northeast': {'lat': 33.8876179, 'lng': -84.289389},
     'southwest': {'lat': 33.6478079, 'lng': -84.5518189}}},
   'place_id': 'ChIJjQmTaV0E9YgRC2MLmS_e_mY',
   'types': ['locality', 'political']}],
 'status': 'OK'}

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [47]:
gmaps.configure(g_key)
print(gmaps)

<module 'gmaps' from '/Users/aaronwinfrey/opt/anaconda3/lib/python3.8/site-packages/gmaps/__init__.py'>

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure